extends layout

block content
    #myCarousel.carousel.slide
      .carousel-inner
        .item.active
          img(src='img/examples/slide-01.jpg', alt='')
          .container
            .carousel-caption
              h1 My Web Class
              p.lead Web Technology Education
              a.btn.btn-large.btn-primary(href='#') Sign up today
        .item
          img(src='img/examples/slide-02.jpg', alt='')
          .container
            .carousel-caption
              h1 Another example headline.
              p.lead
                | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              a.btn.btn-large.btn-primary(href='#') Learn more
        .item
          img(src='img/examples/slide-03.jpg', alt='')
          .container
            .carousel-caption
              h1 One more for good measure.
              p.lead
                | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              a.btn.btn-large.btn-primary(href='#') Browse gallery
      a.left.carousel-control(href='#myCarousel', data-slide='prev') ‹
      a.right.carousel-control(href='#myCarousel', data-slide='next') ›
    // .carousel 
    // Marketing messaging and featurettes
    // Wrap the rest of the page in another container to center all the content. 

    section.homepage-content
      .container.marketing
        // Three columns of text below the carousel 
        .row
          .span4
            img#design(src='img/design.png', alt='', width='140px', height='140px')
            h2 Design
            p
              | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
            p
              a.btn(href='#') View details »
          // .span4 
          .span4
            a(href='#')
              img#develop(src='img/develop.png', alt='', width='140px', height='140px')
            h2 Develop
            p
              | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris.
            p
              a.btn(href='#') View details »
          // .span4 
          .span4
            a(href='#')
              img#connect(src='img/connect.png', alt='', width='140px', height='140px')
            h2 Connect
            p
              | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo.
            p
              a.btn(href='#') View details »