extends layout

block content
    section.content
      .container
        .row
          .span8
            .content-wrap
              h2 Donec gravida odio id nibh.
              p In vel est ut nibh congue sagittis id non nibh. Sed porttitor nisl congue urna viverra, at rhoncus massa adipiscing. Integer fermentum diam a arcu fringilla, nec lacinia ante condimentum. Suspendisse id porta sem, in facilisis turpis. Nulla vestibulum eu quam et euismod. In quis ante felis. Cras a massa non justo pellentesque eleifend. Nullam sit amet porttitor neque. Duis consectetur orci et pellentesque hendrerit. In magna sem, aliquam nec nulla sit amet, euismod malesuada sapien. Phasellus imperdiet lacus a mollis rhoncus. Cras at eros velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis non viverra sapien, sit amet imperdiet sapien. Sed sit amet est feugiat, ultrices elit quis, ultrices quam. Quisque non scelerisque elit, sit amet pulvinar erat.
              p Cras bibendum metus eros, nec consequat est aliquam nec. Nunc in risus vel nisi bibendum sodales. Mauris vel tempus tellus. Pellentesque placerat, ipsum at viverra tincidunt, libero lacus elementum lectus, quis mattis velit ante dapibus justo. Morbi sollicitudin tincidunt commodo. Phasellus est est, elementum et turpis et, consectetur volutpat purus. Maecenas purus dolor, venenatis vel ante nec, pulvinar rutrum enim. Curabitur cursus adipiscing nibh, et pharetra turpis tempus eget. Fusce et vehicula nibh. In augue enim, mollis eu diam a, faucibus ornare libero. Mauris eget facilisis risus. Integer lorem augue, placerat ut malesuada eget, rutrum sit amet nulla.
          .span4
            a(href='#', class='btn btn-large btn-primary') Go Back